<!-- {% extends './layout.html' %} -->
<!-- {% block content %} -->

<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="#intro">Intro</a></li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#codeNavPopover">Code</a>
      </li>
    </ul>
  </div>
</li>
</div>
</nav>

<h2>About Me</h2>

<p>Hi, I’m Duncan! I'm testing out this CSS format.</p>

<p>
  I work as a Data Analyst <a href="https://www.chop.edu/">The Children's Hospital of Philadelphia</a>, one of the foremost Children's hospitals in the country. After graduating from UPenn with a degree in Economics and Neuroscience (and no clue what to do with it), I worked on Environmental Redevelopment projects at <a href="https://www.tokiomarinegroup.com/">Tokio Marine North America</a>, before pivoting into healthcare tech and analytics with <a href="https://www.integrichain.com/about-us/">IntegriChain</a>.
</p>

<p>View my running <a href="https://smashrun.com/duncan.hamilton/overview/2020">here</a>.</p>

<p>To see what else I'm currently up to, check out my <a href="/now">now page</a>.</p>

<hr><p class="footer">Last updated November 17, 2020 | Austin 🤠</p>
<!-- {% endblock %}
