{% extends './layout.html' %}
{% block content %}
<h1 class="text-3xl font-normal">About Me</h1>
      <p class="max-w-3xl  py-4"> I work as a Data Analyst in the Center for Healthcare Quality and Analytics at <a class = "underline text-black" href="https://www.chop.edu/">The Children's Hospital of Philadelphia</a>, one of the foremost Children's research hospitals in the country.</p>
      <p class="max-w-3xl text-black text-medium">I graduated from UPenn with a degree in Economics and Neuroscience unsure what to do with the degree, and having juggled: wet lab (and rat-raising) duties in a cancer research lab, scouring primary sources on state-level implementation of the ACA for <a class = "underline text-black" href = "https://ldi.upenn.edu/>"> Tom Baker, Dan Polsky and Ezekiel Emanuel</a>, and checking IDs at the local bar. 
      </p> 
      <p class="max-w-3xl text-black text-medium py-4">I accepted a full-time offer from my perennial internship and worked on <a class = "underline text-black" href="https://www.epa.gov/brownfields">Brownfields Redevelopment</a> projects and operational pollution risk as an Environmenal Underwriter at <a class = "underline text-black" href="https://www.tokiomarinegroup.com/">Tokio Marine North America</a>, before pivoting into healthcare tech and analytics with <a href="https://www.integrichain.com/about-us/">IntegriChain</a>.
      </p>
      <p class="max-w-3xl py-4">When I'm not working, you can find me running (or rehabbing) and reading. For more about my current work and extracurriculars, visit my <a class = "underline text-black" href="/now">now</a> page.</p>
 

{% endblock %}