{% extends './layout.html' %}
{% block content %}
<h1 class="text-3xl font-normal">Duncan Hamilton</h1>
      <h2 class="text-3xl font-normal text-gray-600 mb-8">data & process</h2>
      <p class="max-w-3xl">I'm a data analyst, currently based in Philadelphia, PA.<br class="hidden md:inline"> Interested in building trusted & sustainable data pipelines,<br class="hidden md:inline"> from ingestion to presentation.</p>
      <p class="max-w-3xl py-4">For more info about what I'm up to currently, visit my <a class = "underline text-black" href="/now">now</a> page.</p>
      <figure class="my-16">
            <div class="bg-gray-720 mb-8 rounded">
              <img src="assets/hammock2.jpg" alt="hammock"> 
            </div>
            <figcaption class="max-w-3xl text-base font-mono text-gray-600">Me in my natural habitat.</figcaption>
          </figure>
          </section>
{% endblock %}
