<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" sizes="32x32" href="assets/doughnut-svgrepo-com.svg">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="design &amp; code">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta property="og:title" content="Duncan Hamilton">
    <meta property="og:description" content="design &amp; code">
    <meta property="og:url" content="http://www.duncan-hamilton.com">
    <meta property="og:image" content="assets/doughnut-svgrepo-com.svg">
    <meta property="og:image:type" content="image/svg">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta property="og:image:alt" content="Logo Duncan Hamilton.">
    <meta property="business:contact_data:locality" content="Philadelphia">
    
    <!--bring in tailwind and custom text style  -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>{{ title }} | Duncan Hamilton</title>
  </head>
<body class="antialiased px-8">

    <main class="w-full max-w-screen-lg mx-auto px-8 text-xl text-gray-800">

      <header class="flex items-center justify-between h-48">
        <a href="/index"><img src="assets/doughnut-svgrepo-com.svg" width="64" height="64" alt="Logo"></a>
        <nav><a href="/now">Now</a></nav>
        <nav><a href="/about">About</a></nav>
        <nav><a href="/reading">Reading</a></nav>
        <nav><a href="/running">Running</a></nav>
      </header>
        {% block content %}
        {% endblock %}

        <footer class="text-base border-t border-gray-400 py-16 mt-16">
          <div class="flex flex-col sm:flex-row items-baseline justify-between mb-6">
            <p class="mb-6 mr-8">
              Duncan Hamilton <br>
              <a href="mailto:duncan.c.hamilton@gmail.com">duncan.c.hamilton@gmail.com</a>
            </p>
            <ul class="flex flex-wrap flex-col h-12 w-48 mb-6">
              <li><a rel="me" href="https://www.linkedin.com/in/duncan-hamilton-/">LinkedIn</a></li>
              <li><a rel="me" href="https://en.wikipedia.org/wiki/Special:Random">Expand your mind</a></li>
            </ul>
            <p class="text-sm" style="line-height:1.75">
              Made in the City of Brotherly ❤️ <br>
              Last updated December 13, 2020
            </p>
          </div>
        </footer>
      </main>
    </body>
</html>