<!DOCTYPE html>
<html lang="en">
<head>
  <!-- For our machine overlords -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Duncan Hamilton - personal site">
  <meta name="author" content="Duncan Hamilton">

  <!-- Global site tag (gtag.js) - Google Analytics
  <script async src=""></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('');
  </script> -->

  <!-- CSS and fonts -->
  <link rel="stylesheet" href="/css/skeleton.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

  <!-- Favicon-->
  <link rel="shortcut icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/198/hot-beverage_2615.png">

  <title>{{ title }} | Duncan Hamilton</title>
</head>
<body>
  <div class="menu">
    <div class="row">
        <nav class="two columns">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/test">Test</a></li>
            <li><a href="/writing">Writing</a></li>
          </ul>
        </nav>
      <div class="eight columns"> <!-- main content area -->
        {% block content %}
        {% endblock %}
      </div> <!-- close eight columns -->
    </div> <!-- close row -->
  </div> <!-- close container -->
</body>
</html>

