{% extends './layout.html' %}
{% block content %}
<h2>New</h2>

<p>Hi, I’m Duncan! I'm testing out this CSS format.</p>

<p>
  I work as a Data Analyst <a href="https://www.chop.edu/">The Children's Hospital of Philadelphia</a>, one of the foremost Children's hospitals in the country. After graduating from UPenn with a degree in Economics and Neuroscience (and no clue what to do with it), I worked on Environmental Redevelopment projects at <a href="https://www.tokiomarinegroup.com/">Tokio Marine North America</a>, before pivoting into healthcare tech and analytics with <a href="https://www.integrichain.com/about-us/">IntegriChain</a>.
</p>

<p>I'm an entrepreneur at heart. I've combined my loves for entrepreneurship and coffee to launch a coffee roasting business with my dad: <a href="https://cadena.coffee">Cadena Coffee</a>.</p>

<p>When I'm not working, I'm probably reading, weightlifting, traveling, or thinking about the intersection of philosophy and technology. View my running <a href="https://smashrun.com/duncan.hamilton/overview/2020">here</a>.</p>

<p>To see what else I'm currently up to, check out my <a href="/now">now page</a>.</p>

<hr><p class="footer">Last updated November 17, 2020 | Austin 🤠</p>
{% endblock %}
