{% extends './layout.html' %}
{% block content %}
<h2>Running</h2>

<h5>Here's some of my recent work</h5>
<ol>
    <li> Short
        <ul>
            <li>Run</li>
        </ul>
    </li>

</ol>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/test">Test</a></li>
<li><a href="/new">New</a></li>
<p>
  I work as a Data Analyst <a href="https://www.chop.edu/">The Children's Hospital of Philadelphia</a>, one of the foremost Children's hospitals in the country. After graduating from UPenn with a degree in Economics and Neuroscience (and no clue what to do with it), I worked on Environmental Redevelopment projects at <a href="https://www.tokiomarinegroup.com/">Tokio Marine North America</a>, before pivoting into healthcare tech and analytics with <a href="https://www.integrichain.com/about-us/">IntegriChain</a>.
</p>

<p>I'm an entrepreneur at heart. I've combined my loves for entrepreneurship and coffee to launch a coffee roasting business with my dad: <a href="https://cadena.coffee">Cadena Coffee</a>.</p>

<p>When I'm not working, I'm probably reading, weightlifting, traveling, or thinking about the intersection of philosophy and technology. View my running <a href="https://smashrun.com/duncan.hamilton/overview/2020">here</a>.</p>

<p>To see what else I'm currently up to, check out my <a href="/now">now page</a>.</p>

<hr><p class="footer">Last updated November 17, 2020 | Austin </p>

<section class="section section-a">
    <div class="container">
      <div class="row">
        <div class="one-third column">
          <i class="fa fa-calendar"></i>
          <h5>Plan Your Life</h5>
          <p><iframe height='800' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/15154824/latest-rides/bfac4aef7bc149abd48954e659c9ec89aac02eb4'></iframe>
          </p>
        </div>
        <div class="one-third column">
          <i class="fa fa-cloud"></i>
          <h5>Upload To The Cloud</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, et?</p>
        </div>
        <div class="one-third column">
          <i class="fa fa-users"></i>
          <h5>Manage Users</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, et?</p>
        </div>
      </div>
    </div>
  </section>


<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/4405157721/embed/e93b7232044be3a761c78550ce6680a977fc67f0'></iframe>

<!-- <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://smashrun.com/duncan.hamilton/'></iframe> -->
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/2885703493/embed/30707eb398c931961f49804f51ab71161cb40775'></iframe>
      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->


{% endblock %}
     