
{% extends './layout.html' %}
{% block content %}
<h1 class="text-4xl font-normal">Now</h1>
<h2 class="text-1xl font-normal text-gray-600 mb-8 py-2">Thanks to <a class = "underline" href="https://sivers.org/now">Derek Sivers</a> for the concept, and to my friend <a class = "underline" href="http://danreardon.com/now">Dan Reardon</a> for the push.</h2>


      <section class="pb-8">
        <ul class="list-decimal  max-w-3xl pl-8" >
        <!-- <ul class="list-disc max-w-3xl pl-5"> -->
          <li><img class = "inline-block" src="assets/work-station-svgrepo-com.svg" width="32" height="32"> Work  - I'm a data analyst for the Children's Hospital of Philadelphia</li>
          <!-- <ul class="list-decimal text-gray-600 max-w-3xl pl-8"> -->
            <ul class ="list-disc text-gray-600 text-sm max-w-3xl pl-5"> 
                <li>Since March, I have been providing full-stack analytical support for CHOP's COVID response; data collection/ingestion, curating an analytical data layer, and analysis and self-serve BI for end-users. Watch me and my colleagues break down the first several weeks at Chicago Lurie's Analytics Conference <a class = "underline text-black" href="https://www.youtube.com/watch?v=_vw1W_JJG5I" rel="noopener noreferrer nofollow" target="_blank">here.</a> <br>(TL;DW? slides <a class = "underline text-black" href="https://github.com/chop-analytics/presentations/blob/master/advancing-analytics-summer-seminar-2020/covid-19-data.pdf" rel="noopener noreferrer nofollow" target="_blank">here</a>)</br></li>
                <li>Working with clinicians to build cohorts, metrics, and reporting to apply process improvement principles to patient care and hospital operations.</li>
                <li>Redesigning and rebuilding enterprise Harm Prevention Program infrastructure (with <a class = "underline text-black" href="https://www.getdbt.com/">dbt!</a>) to enable analyst and stakeholder self-service, while building trust in the data we use to keep patients safe.</li>
            </ul>
            <li><img class = "inline-block" src="assets/race-track-svgrepo-com.svg" width="32" height="32"> Play</li>
              <ul class ="list-disc text-gray-600 text-sm max-w-3xl pl-5"> 
                  <li>Building bulletproof ankles as I rehab my way back to (better!) running. Thoughts (and some geeking out) on running <a class = "underline text-black" href="/running">here.</a></li>
                  <li>Getting very familiar with my kettlebells and pull-up bar, while I wait for City Fitness to reopen.</li>
              </ul>
            <li><img class = "inline-block" src="assets/books-svgrepo-com.svg" width="32" height="32"> Reading</li>
             <ul class ="list-disc text-gray-600 text-sm max-w-3xl pl-5"> 
                  <li>51 books into my goal of 30 books this year. Thanks, lockdown.</li>
                  <li>Recently finished: Isaac Bashevis Singer, <a class = "underline text-black">Gimpel The Fool and Other Stories</a>. Marjane Satrapi, <a class = "underline text-black">The Complete Persepolis</a>. Kazuo Ishiguro, <a class = "underline text-black">Never Let Me Go</a>.</li>
                  <li>Up Next: Roddy Doyle, <a class = "underline text-black">Love</a>. Hiroshi Yamamoto, <a class = "underline text-black">Stories of Ibis</a>. Michelle Paver, <a class = "underline text-black">Dark Matter</a>. Richard Ellis, <a class = "underline text-black">The Empty Ocean</a> </li>
            </ul>
            <li><img class = "inline-block" src="assets/headphones-svgrepo-com.svg" width="32" height="32"> Listening</li>
             <ul class ="list-disc text-gray-600 text-sm max-w-3xl pl-5"> 
                  <li>Music: Camp Cope, <a class = "underline text-black">How To Socialise and Make Friends</a>. Idles, <a class = "underline text-black">Ultra Mono</a>. The Avalanches, <a class = "underline text-black">Since I Left You</a>.</li>
                  <li>Podcasts: Mike Duncan, <a class = "underline text-black">History of Rome</a>. Trust me, with 179 episodes, this can stand on its own.</a>
                  <li>Audiobooks: Sir Arthur Conan Doyle, <a class = "underline text-black">Sherlock Holmes: Narrated by Stephen Fry</a>. James Dommek, Jr., <a class = "underline text-black">Midnight Son</a>. </li>
            </ul>
        </ul>
      </section>
{% endblock %}
     