{% extends './layout.html' %}
{% block content %}
<h1 class="text-3xl font-normal">Reading</h1>
<p class="max-w-3xl py-8">We live in a golden age of content (insert link) -- Twitter threads, Reddit effort-posts, YouTube, branded streaming services, podcasts, Twitter, and Instagram all vie for our attention (not to mention television, or online journalism). 
  With the ease of jumping between these, it can be difficult to take time away to un-plug, much less to consume print media. <br class="hidden md:inline">As Tim Urban succinctly put it in his whiteboard segment of Max Joseph's (insert link) short-form documentary: the difference between reading <strong>55</strong> or <strong>1,000</strong> books over your next 55 years is a commitment of about 30 minutes a day on average, and, more importantly, the decision to re-prioritize how we consume content. 
  <br class="hidden md:inline"> Below is a list of books that have been important to me over the last several years: </p>
  <!-- <br class="hidden md:inline">After graduating university and spending a couple of years in the working world, my only reading was insurance designation textbooks, and I realized that I missed readin so I made the decision to start consuming longer-form content. I obtained my first library card since moving to the East Coast, and began listening to audiobooks while running, and reading books on my phone when killing time in line/waiting for the bus/etc. </p>  -->
<section class="py-8 px-8">
  <h2 class="text-3xl font-normal text-gray-600 mb-6">Favorites</h2>
  <ul class="list-disc max-w-3xl pl-5" lang="en">
    <li>Ralph Ellison, <a class = "underline">Invisible Man</a>. If <a class = "underline">Candide</a> had been set in the 20th Century, and grounded in realism. It's one of the great American Novels — and true to its peers, it's powerful to read in 2020 and see how much still rings true. I was introduced to this book in my 20s, and while I wish that this had been part of my core curriculum in high school, I take solace in the fact my AP-English-teacher friend lent me the copy.</li>
    <li>Frank Herbert, <a class = "underline">Dune Messiah</a>. Yes, the sequel — this is Sci-Fi world-expansion at it's best. What do the revolutionaries do when fanaticism gives way to theocratic bureacracy? When the god-head no longer consents to rule? As much as I love <a class = "underline" >Dune</a>, this was more impactful for me, and a perfect rebuttal to criticism of the first.</li>
    <li>Keiichirō Hirano,<a class = "underline">A Man</a>. A noir focused on identity, both 
  </ul>
</section>

<section class="py-8 px-8">
  <h2 class="text-3xl font-normal text-gray-600 mb-6">Memoir/Biography</h2>
  <ul class="list-disc max-w-3xl pl-5" lang="en">
    <li>Mark Lanegan, <a class = "underline">Sing Backwards and Weep</a>. An unflinching deep-dive into the addictions underlying the music scene of the PNW in the '80s and '90s. Mark speaks to his own flaws with the honesty that I didn't expect from someone who wears them maybe a bit too proudly. </li>
    <li>Haruki Murakami, <a class = "underline">What I Talk About When I Talk About Running: A Memoir</a>. Murakami succeeds in his description of the (generally conflicting) emotions runners have for their hobby. A must-read for those who wonder why his protagonists all love jazz, cooking, whiskey, and solitude.</li>
    <li>Stephen King, <a class = "underline">On Writing: A Memoir of the Craft</a>. A practical guide to <i>actually writing,</i> from someone who has written more than I probably will ever read. Choose over <a class = "underline">The War of Art.</a></li>  
  </ul>
</section>
{% endblock %}
