{% extends './layout.html' %}
{% block content %}
<h1 class="text-3xl font-normal">Reading</h1>
<p class="max-w-3xl py-8">We live in a <a class = "underline text-black" href= https://youtu.be/lIW5jBrrsS0?t=272>golden age of content</a>. As Tim Urban demonstrates in his segment of the linked documentary, the difference between reading <strong>55</strong> books in the next 55 years, becoming the grandparent who hasn't read anything; or <strong>1,000</strong> books ("they've read everything!") is a time commitment of an average of about 30 minutes a day. 
<p class="max-w-3xl"> Personally, this has required a conscious effort to re-prioritize how I consume content. To that end, I've set loose goals for myself the past couple of years: read more than last year, read a variety of genres/authors, and to change both of the prior if I'm not enjoying it. This has worked well for me - I've read 51 books in 2020; some quality, some challenging, some easy, and some comfortable.</p>
  <br class="hidden md:inline"> Below is a list of books that I strongly recommend (more coming soon): </p>

  <section class="py-8 px-8">
  <h2 class="text-3xl font-normal text-gray-600 mb-6">Favorites</h2>
  <ul class="list-disc max-w-3xl pl-5" lang="en">
    <li>Ralph Ellison, <a class = "underline">Invisible Man</a>. If <a class = "underline">Candide</a> had been set in the 20th Century, and grounded in realism. It's one of the great American Novels — and true to its peers, it's powerful to read in 2020 and see how much still rings true. I was introduced to this book in my 20s, and while I wish that this had been part of my core curriculum in high school, I take solace in the fact my AP-English-teacher friend lent me the copy.</li>
    <li>Frank Herbert, <a class = "underline">Dune Messiah</a>. Yes, the sequel — so please, please read <a class = "underline">Dune</a> (if you haven't already). This is Sci-Fi world-building (world-expansion?) at its best. What do the revolutionaries do when fanaticism gives way to theocratic bureacracy? When the god-head no longer consents to rule? As much as I love <a class = "underline" >Dune</a>, this was more impactful for me, and a perfect rebuttal to criticism of the first.</li>
    <li>Keiichirō Hirano, <a class = "underline">A Man</a>. A modern noir, heavy on the philosophy of identity and inheritance. Far-right xenophobia, and the intricacies of family registers in Japan provide the backdrop.
  </ul>
</section>

<section class="py-8 px-8">
  <h2 class="text-3xl font-normal text-gray-600 mb-6">Memoir/Biography</h2>
  <ul class="list-disc max-w-3xl pl-5" lang="en">
    <li>Mark Lanegan, <a class = "underline">Sing Backwards and Weep</a>. An unflinching deep-dive into the addictions underlying the music scene of the PNW in the '80s and '90s. Mark speaks to his own flaws with the honesty that I didn't expect from someone who wears them maybe a bit too proudly. </li>
    <li>Haruki Murakami, <a class = "underline">What I Talk About When I Talk About Running: A Memoir</a>. Murakami succeeds in his description of the (generally conflicting) emotions runners have for their hobby. A must-read for those who wonder why his protagonists all love jazz, cooking, whiskey, and solitude.</li>
    <li>Stephen King, <a class = "underline">On Writing: A Memoir of the Craft</a>. A practical guide to <i>actually writing,</i> from someone who has written more than I probably will ever read. Choose over <a class = "underline">The War of Art.</a></li>  
  </ul>
</section>

<!-- More genres coming soon -->
{% endblock %}
