{% extends './layout.html' %}
{% block content %}
<h1 class="text-3xl font-normal">Running</h1>

<section class="max-w-3xl py-8" py-8">
    <p class="max-w-3xl">I love running. When I was in high school, I hated it. After being diagnosed with asthma at 20, I realized that being slow was normal, not being able to breathe when it was damp, or chilly...or near freshly-mown grass wasn't.
        <br class="hidden md:inline">A couple of years later, I started up running again, equipped with a gift of a GPS watch from my girlfriend (now fiancée!). I  and started seeing see progress </p>
    <iframe width="900" height="400" frameborder="0" scrolling="no" src="//plotly.com/~duncanha/1.embed"></iframe>
    <p class="max-w-3xl">Je suis designer et développeur web. Je vis et travaille à Strasbourg. <br class="hidden md:inline"> J’enseigne à l’ECV Digital les bases du développement web, de la typographie et du design d’interface et d’interaction.</p>
    <img class = "inline-block"  src="assets/mondays.png" >
  </section>
{% endblock %}
      